*.o
*.swp
*~
/pkgIndex.tcl
/Makefile
/ckConfig.sh
/generic/config.h
/configure
cwsh
libck*.so
libck.a
tags
config.log
config.status
autom4te.cache
.vimrc
/nccompat.so
/ckUuid.h
/manifest.uuid
/build9
/build9g
/build86
/build-fallback
/buildwin
/subprojects/*-*
/subprojects/packagecache
/subprojects/.wraplock
